<div class="timeline-message-box" data-communication-type="{{ communication_type }}">
	<span class="flex justify-between m-1 mb-3">
		<span class="text-color flex">
			<span>{{ __("Letter mailed to") }} {{ recipients }}
				<div class="text-muted">{{ comment_when(communication_date || creation) }}</div>
			</span>
		</span>
		<span class="actions" style="flex-shrink: 0">
			{% let indicator_color = "red"; %}
			{% if (["Sent", "Clicked"].includes(delivery_status)) { %}
				{% indicator_color = "green"; %}
			{% } else if (["Sending", "Scheduled"].includes(delivery_status)) { %}
				{% indicator_color = "orange"; %}
			{% } else if (["Opened", "Read"].includes(delivery_status)) { %}
				{% indicator_color = "blue"; %}
			{% } else if (delivery_status == "Error") { %}
				{% indicator_color = "red"; %}
			{% } %}
			<span class="indicator-pill {{ indicator_color }}">
				{%= delivery_status %}
			</span>

			{% if (file_url) { %}
			<a class="action-btn" target="_blank" href="{{ file_url }}" title="{{ __('Open PDF Copy') }}">
				<svg class="es-icon icon-sm">
					<use href="#es-line-link"></use>
				</svg>
			</a>
			{% } %}
			<div class="custom-actions"></div>
			{% if (message_id) { %}
			<div class="more-actions">
				<a type="button" class="action-btn"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<svg class="icon icon-sm">
						<use href="#icon-dot-horizontal"></use>
					</svg>
				</a>
				<ul class="dropdown-menu small">
					<li>
						<a class="dropdown-item" target="_blank" href="https://dashboard.postgrid.com/dashboard/letters/{%= message_id %}">{{ __('Open in PostGrid') }}</a>
					</li>
				</ul>
			</div>
			{% } %}
		</span>
	</span>
	<div class="content">
		{{ content }}
	</div>
</div>